body{
  background: linear-gradient(180deg, rgba(177, 225, 255, 0.48) 0%, rgba(175, 180, 255, 0.6) 100%) !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button.is-info{
   background-color:#D5BBFF !important;
   color: #5C00EA !important;
   font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Elipse1{
  
position: absolute;
  width: 1000px;
  height: 1000px;
  left: -204px;
  top: -286px;

  background: radial-gradient(50% 50% at 50% 50%, #C29AFF 99.99%, rgba(166, 108, 255, 0) 100%);
  filter: blur(250px);
}

.Elipse2{
 

  width: 1000px;
  height: 1000px;
  left: 720px;
  top: 421px;
  
  background: radial-gradient(50% 50% at 50% 50%, #5BC0FF 99.99%, rgba(166, 108, 255, 0) 100%);
  filter: blur(250px);
}

